
body {
    margin: 0px;
    padding: 0px;
    background: #1E1E1E;
}

#dnc {
  padding: 50px;
  }



    /*Main Section*/

    header p{
        font-family: 'Helvetica';
        color: #FFFFFF;
        font-size: 30px;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* Forms */

    form{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
        width: 524px;
    }

    .form-control{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
    }

    form input {
        height: 30px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid #181818;
        border-radius: 10px;
        padding: 11px 13px;
        gap: 8px;
    }

    form input::placeholder{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #616161;
    }

   form label {
        margin-bottom: 10px;
        margin-top: 10px;
        width: fit-content;
    }


    .form-control small {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #E73550; 
        text-align: right;
        display: block;
        visibility: hidden;
    }

    .form-control.error small {
        visibility: visible;
    }
    
    .form-control.error .final{
        visibility: visible;
        text-align: left;
    }

    .form-control.success i {
        visibility: visible;
    }


    .form-control i {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color:  #0F7B0F; 
        text-align: left;
        display: block;
        visibility: hidden;
    }






    input[type="submit"]{
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        color: white;
        background: #0C70F2;
        border-radius: 6px;
        cursor: pointer;
        padding: 20px 36px;
        gap: 8px;
        width: 524px;
        height: 60px;
        margin-top: 30px;
    }

    #submit {
        margin-bottom: 80px;
    }

    input[type="submit"]:hover {
        background-color: #428ae9;
        transform: scale(1.1);
      }

      input:hover {
        transform: scale(1.1);
      }


      .form-control input:focus {
	outline: 0;
	border-color: #777;
}